<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/images/logo.png" alt="Avatar Logo" width="100px" height="80px" class="rounded-pill">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link text-primary text-uppercase font-weight-bold" href="/">Trang chủ</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-primary text-uppercase font-weight-bold " href="/login">Đăng nhập</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-primary text-uppercase font-weight-bold" href="#">Đăng ký</a>
        </li>
      </ul>
    </div>
  </div>
</nav>