{% extends 'layout/base.html' %}

{% block content %}
<div class="modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Lỗi đăng nhập</h4>
                 <a class="text-decoration-none text-light btn-close" href="/login"></a>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Người dùng không hợp lệ
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><a class="text-decoration-none text-light" href="/login">Đóng</a>
                </button>
            </div>

        </div>
    </div>
</div>
<script>
    // Tự động mở modal khi trang được nạp
    window.onload = function() {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();
    };
     function redirectToPage() {
        // Chuyển hướng đến trang mới
        window.location.href = '/login';  // Thay đổi thành URL thực tế
    }

    // Đợi DOM tải xong
    document.addEventListener('DOMContentLoaded', function() {
        // Thêm sự kiện nhấp chuột cho toàn bộ tài liệu
        document.body.addEventListener('click', redirectToPage);
    });
</script>
{% endblock %}