{% extends 'layout/base.html' %}

{% block content %}
<div class="modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% set first_message = messages[0] %}
                <h4 class="modal-title">{{ first_message[0] }}</h4>  <!-- Nội dung thông báo lỗi -->
                {% else %}
                <h4 class="modal-title">Thông báo</h4>  <!-- Tiêu đề mặc định -->
                {% endif %}
                {% endwith %}
                <a class="text-decoration-none text-light btn-close" href="/login"></a>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <p>{{ messages[0][1] }}</p>  <!-- Số lượng vé yêu cầu -->
                {% else %}
                <p>Không có thông báo.</p>
                {% endif %}
                {% endwith %}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <a class="text-decoration-none text-light" href="/bookticket">Đóng</a>
                </button>
            </div>

        </div>
    </div>
</div>

{% if current_user.is_authenticated and current_user.user_role == UserRoleEnum.CUSTOMER%}
<div style="width: 1300px; background-color: rgba(240, 248, 255, 0.9); padding: 10px; margin: 50px auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
    <form>
        <h2 style="color: #0078FF; margin-bottom: 20px;text-align: center;">TÌM KIẾM CHUYẾN BAY</h2>
        <div class="row">
            <!-- Nơi đi -->
            <div class="col-md-5 mb-3">
                <label for="takeoff1" class="fs-4 text-danger fw-bold">Nơi đi:</label>
                <select name="takeoff1" class="form-select form-select-lg" id="takeoff1">
                    {% for airport in take_off_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option value="{{airport.id}}">{{airportName.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <!-- Nơi đến -->
            <div class="col-md-5 mb-3">
                <label for="landing1" class="fs-4 text-danger fw-bold">Nơi đến:</label>
                <select name="landing1" class="form-select form-select-lg" id="landing1">
                    {% for airport in landing_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option value="{{airport.id}}">{{airportName.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <!-- Button Tìm kiếm -->
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <button class="btn btn-s btn-primary w-100 fw-bold" type="button" onclick="findflights()">Tìm kiếm
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <!-- Thời gian đi -->
            <div class="col-md-5 mb-3">
                <label for="departureTime" class="fs-4 text-danger fw-bold">Thời gian đi:</label>
                <input id="departureTime" class="form-control form-control-lg" type="date" name="departureTime">
            </div>

        </div>
        <hr class="my-4">
        <div class="row mt-3">
            <div class="col-12" id="flightList">
                <table class="table table-hover table-bordered">
                    <thead class="table-primary" >
                    <tr class="text-center">
                        <th >Tuyến bay</th>
                        <th>Mã chuyến bay</th>
                        <th>Tên chuyến bay</th>
                        <th>Tên máy bay</th>
                        <th>Ngày giờ cất cánh</th>
                        <th>Ngày giờ hạ cánh</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody id="flightTableBody">
                    </tbody>
                </table>
            </div>
        </div>

    </form>
</div>
{% endif %}
{% if not current_user.is_authenticated  %}
<h1 class="text-center text-danger mt-1"> Vui lòng đăng nhập trước khi thực hiện đặt vé </h1>
<div style="width: 550px; background-color: rgba(240, 248, 255, 0.9); padding: 30px; margin: 100px auto; border-radius: 10px; text-align: center; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
    <form action="/login" method="post">
        <h2 style="color: #0078FF; margin-bottom: 20px;">ĐĂNG NHẬP</h2>

        <img src="/static/images/user.png" alt="User Icon"
             style="width: 70px; margin-bottom: 20px;">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" required>
            <label for="username">Tên đăng nhập</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>
            <label for="password">Mật khẩu</label>
        </div>

        <button type="submit"
                style="width: 100%; background-color: #0078FF; color: #fff; border: none; border-radius: 5px; padding: 10px; font-size: 1rem; cursor: pointer; margin-top: 15px;">
            Đăng nhập
        </button>
    </form>
</div>
{% endif %}
{% if current_user.is_authenticated and current_user.user_role != UserRoleEnum.CUSTOMER %}
<div class="modal" id="myModal1" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <a href="/staffpage" class="btn btn-close" type="button"></a>
            </div>
            <div class="modal-body">
                <p>Bạn không được đặt vé.</p>
            </div>
            <div class="modal-footer">
                <a href="/staffpage" class="btn btn-secondary">Đóng</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="{{url_for('static',filename='js/ticket.js')}}"></script>
<script>
    window.onload = function() {
       var myModal = new bootstrap.Modal(document.getElementById('myModal'));
       {% if get_flashed_messages() %}
           myModal.show();
       {% endif %}
   };

   document.addEventListener('DOMContentLoaded', function() {
       // Tải lại giá trị từ localStorage
       if (localStorage.getItem('takeoff')) {
           document.querySelector('select[name="takeoff1"]').value = localStorage.getItem('takeoff');
       }
       if (localStorage.getItem('landing')) {
           document.querySelector('select[name="landing1"]').value = localStorage.getItem('landing');
       }
       if (localStorage.getItem('departureTime')) {
           document.getElementById('departureTime').value = localStorage.getItem('departureTime');
       }


   });
    document.addEventListener('DOMContentLoaded', function() {
      // Ngăn người dùng chọn thời gian đi của quá khứ
        const today = new Date();
        const day = String(today.getDate()).padStart(2, '0');
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Tháng bắt đầu từ 0
        const year = today.getFullYear();
        const formattedDate = `${year}-${month}-${day}`;

        document.getElementById('departureTime').setAttribute('min', formattedDate);
   });


</script>

{% endblock %}