{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-succes mt-1 "> XỬ LÍ ĐẶT VÉ </h1>
<div class="container p-3 mt-3 bg-light d-grid gap-3  px-4">
    <div class="row row-cols-3  ">
        <div class="row"></div>
        <div class="row row-cols-2 ">
            <div class="col p-0 fw-bold fs-2 d-flex align-items-center  ">
                <label>Chuyến bay:</label>
            </div>
            <div class="col p-0 bg-grey  fw-normal">
                <input class="form-control w-auto form-control-lg" type="text" value="{{flight.name}}"
                       aria-label="readonly input example" readonly>
            </div>
        </div>
        <div class="row"></div>
    </div>
    <div class="row row-cols-2  ">
        <div class="row row-cols-2">
            <div class="col p-0 fw-bold fs-2 d-flex align-items-center w-auto">
                <label>Nơi đi:</label>
            </div>
            <div class="col-md p-0 bg-grey fw-normal ms-3">
                {% for route in route %}
                {% for airport in airports %}
                {% if route.take_off_airport_id == airport.id %}
                <input class="form-control w-auto form-control-lg" type="text" value="{{airport.name }}"
                       aria-label="readonly input example" readonly>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col p-0 fw-bold fs-2 d-flex align-items-center w-auto">
                <label>Nơi đến:</label>
            </div>
            <div class="col-md p-0 bg-grey  fw-normal ms-3">
                {% for route in route %}
                {% for airport in airports %}
                {% if route.landing_airport_id == airport.id %}
                <input class="form-control w-auto form-control-lg" type="text" value="{{airport.name }}"
                       aria-label="readonly input example" readonly>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row row-cols-2 ">
        <div class="row row-cols-2">
            <div class="col p-0 fw-bold fs-2 d-flex align-items-center">
                <label>Thời gian cất cánh:</label>
            </div>
            <div class="col-md p-0 fw-normal ">
                <input class="form-control w-auto form-control-lg" type="text" value="{{flight.take_of_time}}"
                       aria-label="readonly input example" readonly>
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col-form-label p-0 fw-bold fs-2 d-flex align-items-center ">
                <label>Thời gian hạ cánh:</label>
            </div>
            <div class="col-md p-0 bg-grey p-0  fw-normal">
                <input class="form-control w-auto form-control-lg" type="text" value="{{flight.landing_time}}"
                       aria-label="readonly input example" readonly>
            </div>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="row row-cols-2 ">
            <div class="col-4  p-0 fw-bold fs-2 d-flex align-items-center">
                Số lượng vé:
            </div>
            <div class="col ">
                <input class="form-control w-auto form-control-lg" type="number" id="ticket-quantity"
                       name="ticket-quantity" min="1" value="1" required>
            </div>
        </div>
        <div class="row row-cols-2 ">
            <div class="col-4  p-0 fw-bold d-flex align-items-center fs-2 w-auto">
                Hạng vé:
            </div>
            <div class="col ">
                <select class="form-select w-auto form-select-lg ms-2" aria-label="Default select example">
                    {% for fareclass in fareclass %}
                    <option {% if loop.index == 1 %}selected{% endif %} value="{{fareclass.price}}">{{fareclass.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>


</div>

</script>

{% endblock %}