{% extends 'layout/base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<h1 class="text-center text-succes mt-1 "> ĐẶT VÉ  </h1>
<div class="container mt-3 bg-success rounded">
  <form action="/bookticket" method="post">
        <div class="row">
            <div class="col-md-5 mt-3">
                <label for="takeoff1" class="fs-3 text-uppercase fw-bold text-white">Nơi đi:</label>
                <select name="takeoff1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        event="click">
                    {% for airport in take_off_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option id="takeoff1" value="{{ airport.id }}">{{airportName.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-5 mt-3 p">
                <label for="landing1" class="fs-3 text-uppercase fw-bold text-white">Nơi đến:</label>
                <select name="landing1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        event="click">
                    {% for airport in landing_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option id="landing1" value=" {{airport.id}} ">{{airportName.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 mt-3 p-3  ">
                <button class="btn btn-primary mt-4 m-3 fs-4 text-uppercase fw-bold bg-success" type="submit">Tìm kiếm
                </button>
            </div>

        </div>
        <div class="row align-items-center ">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 fs-3 text-center text-white">
                DANH SÁCH CHUYẾN BAY
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row align-items-center mx-3">

            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>Mã chuyến bay</th>
                    <th>Tên chuyến bay</th>
                    <th>Ngày giờ cất cánh</th>
                    <th>Ngày giờ hạ cánh</th>
                    <th>Số chỗ ngồi hạng 1</th>
                    <th>Số chỗ ngồi hạng 2</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for route in routes %}
                {% for flight in flights %}
                {% if route.id == flight.route_id %}
                <tr>
                    <td>{{flight.id}}</td>
                    <td>{{flight.name}}</td>
                    <td>{{flight.take_of_time}}</td>
                    <td>{{flight.landing_time}}</td>
                    <td>{{flight.num_of_1st_seat}}</td>
                    <td>{{flight.num_of_2st_seat}}</td>
                    <td>
                       <a href="/bookticket_process?route={{ route.id }}&flight={{flight.id}}" class="text-decoration-none">
                           Đặt vé
                       </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </tbody>

            </table>
        </div>

    </form>
</div>
{% else %}
<h1 class="text-center text-danger mt-1"> Vui lòng đăng nhập trước khi thực hiện đặt vé </h1>
<form action="/login" method="post">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập" name="username">
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        <label for="password">Mật khẩu</label>
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>

{% endif %}

{% endblock %}