{% extends 'layout/base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="container mt-3 shadow-lg bg-body rounded ">
    <form action="/bookticket" method="post">
        <div class="row">
            <div class="col-md-5 mt-3">
                <label for="takeoff1" class="fs-3 text-uppercase fw-bold ">Nơi đi:</label>
                <select name="takeoff1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        event="click">
                    {% for airport in take_off_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option id="takeoff1" value="{{airportName.id}}" >
                        {{airportName.name}}
                    </option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-5 mt-3 ">
                <label for="landing1" class="fs-3 text-uppercase fw-bold ">Nơi đến:</label>
                <select name="landing1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        event="click">
                    {% for airport in landing_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option id="landing1" value=" {{airport.id}} ">{{airportName.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 mt-3 p-3  ">
                <button class="btn btn-primary mt-4 m-3 fs-4 text-uppercase fw-bold bg-success" type="submit " onclick="saveSelection()">Tìm kiếm
                </button>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="departureTime" class="fs-3 text-uppercase fw-bold ">Thời gian đi:</label>
                    <input id="departureTime" class="form-control form-control-lg" type="date"  name="departureTime">

                </div>
                <div class="col-md-5">
                    <label for="returnTime" class="fs-3 text-uppercase fw-bold ">Thời gian về:</label>
                    <input id="returnTime" class="form-control form-control-lg" type="date"  name="returnTime">
                </div>

            </div>

        </div>
        <hr class=" border-3 border-top-3 border-light">
        {% if route %}
        <div class="row mt-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 fs-3 text-center  ">
                DANH SÁCH CHUYẾN BAY
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row mx-1">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>Tuyến bay</th>
                    <th>Mã chuyến bay</th>
                    <th>Tên chuyến bay</th>
                    <th>Tên máy bay</th>
                    <th>Ngày giờ cất cánh</th>
                    <th>Ngày giờ hạ cánh</th>
                    <th>Vé còn lại</th>
                </tr>
                </thead>
                <tbody>
                {% for flight in flights %}
                {% if route.id == flight.route_id %}
                <tr>
                    <td data-route-name="{{route.name}}">{{route.name}}</td>
                    <td data-flight-id="{{ flight.id }}">{{flight.id}}</td>
                    <td data-flight-name="{{ flight.name }}">{{flight.name}}</td>
                    {% for plane in planes %}
                    {% if flight.plane_id == plane.id %}
                    <td data-plane-name="{{plane.name}}">{{plane.name}} </td>
                    {% endif %}
                    {% endfor %}
                    <td data-takeoff-time="{{ flight.take_of_time }}">{{flight.take_of_time}}</td>
                    <td data-landing-time="{{ flight.landing_time }}">{{flight.landing_time}}</td>
                    <td>
                        <a href="/bookticket_process?route={{ route.id }}&flight={{flight.id}}&flight_name={{flight.name}}&user={{current_user.id}}&takeoff_time={{flight.take_of_time}}&landing_time={{flight.landing_time}}&plane={{flight.plane_id}}"
                           class="btn btn-success" >
                            Đặt vé
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h1 class="text-center fw-bold p-3">Không có chuyến bay cần tìm</h1>
        {% endif %}
    </form>
</div>
{% else %}
<h1 class="text-center text-danger mt-1"> Vui lòng đăng nhập trước khi thực hiện đặt vé </h1>
<form action="/login" method="post">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập" name="username">
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        <label for="password">Mật khẩu</label>
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>

{% endif %}

<!--<script src="{{url_for('static',filename='js/bookticket.js')}}"></script>-->
<!--<script>-->
<!--    function getTicketInfo(button){-->
<!--        var row = button.closest('tr');-->
<!--        var takeoff = document.getElementById('takeoff1').value;-->
<!--        var landing = document.getElementById('landing1').value;-->
<!--        var departureTime = document.getElementById('departureTime').value;-->
<!--        var returnTime = document.getElementById('returnTime').value;-->
<!--        var ticketQuantity = document.getElementById('ticket-quantity').value;-->
<!--        var fareClass = document.getElementById('fare-class').value;-->

<!--        var routeName = row.querySelector('[data-route-name]').getAttribute('data-route-name');-->
<!--        var flightId = row.querySelector('[data-flight-id]').getAttribute('data-flight-id');-->
<!--        var flightName = row.querySelector('[data-flight-name]').getAttribute('data-flight-name');-->
<!--        var planeName = row.querySelector('[data-plane-name]').getAttribute('data-plane-name');-->
<!--        var takeoffTime = row.querySelector('[data-takeoff-time]').getAttribute('data-takeoff-time');-->
<!--        var landingTime = row.querySelector('[data-landing-time]').getAttribute('data-landing-time');-->
<!--        // Lấy giá trị fareclass.name và fareclass.price-->
<!--        var fareClassSelect = document.getElementById('fare-class');-->
<!--        var fareClassName = fareClassSelect.value; // Giá trị của fareclass.name-->
<!--        var fareClassPrice = fareClassSelect.options[fareClassSelect.selectedIndex].getAttribute('data-price'); // Giá trị của fareclass.price-->

<!--        bookTicket()-->


<!--    }-->

<!--</script>-->
<script>
     function saveSelection() {
        // Lưu giá trị của các trường vào localStorage
        localStorage.setItem('takeoff', document.querySelector('select[name="takeoff1"]').value);
        localStorage.setItem('landing', document.querySelector('select[name="landing1"]').value);
        localStorage.setItem('departureTime', document.getElementById('departureTime').value);
        localStorage.setItem('returnTime', document.getElementById('returnTime').value);
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Tải lại giá trị từ localStorage
        if (localStorage.getItem('takeoff')) {
            document.querySelector('select[name="takeoff1"]').value = localStorage.getItem('takeoff');
        }
        if (localStorage.getItem('landing')) {
            document.querySelector('select[name="landing1"]').value = localStorage.getItem('landing');
        }
        if (localStorage.getItem('departureTime')) {
            document.getElementById('departureTime').value = localStorage.getItem('departureTime');
        }
        if (localStorage.getItem('returnTime')) {
            document.getElementById('returnTime').value = localStorage.getItem('returnTime');
        }

    });
    // Ngăn người dùng chọn thời gian đi và thời gian về của quá khứ
     document.addEventListener('DOMContentLoaded', function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('departureTime').setAttribute('min', today);
        document.getElementById('returnTime').setAttribute('min', today);
    });
</script>

{% endblock %}