{% extends 'layout/base.html' %}

{% block content %}

<div class="container mt-3 bg-primary rounded">
    <form method="post">
        <div class="row">
            <div class="col-md-5 mt-3">
                <label class="fs-3 text-uppercase fw-bold text-white">Nơi đi:</label>
                <select name="departure" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    {% for r in routes_depart %}
                    {% for airp in airports %}
                    {% if r.airport_id == airp.id  %}
                    <option value="{{r.routes_id}} ">{{airp.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-5 mt-3 p">
                <label class="fs-3 text-uppercase fw-bold text-white">Nơi đến:</label>
                <select name="arrival" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    {% for r in routes_arri %}
                    {%for airp in airports %}
                    {% if r.airport_id == airp.id %}
                    <option value="{{r.routes_id}}"> {{airp.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 mt-3 p-3  ">
                <button class="btn btn-primary mt-4 m-3 fs-4 text-uppercase fw-bold bg-success" type="submit">Tìm kiếm
                </button>
            </div>

        </div>

        <div class="row align-items-center ">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 fs-3 text-center text-white">
                DANH SÁCH CHUYẾN BAY
            </div>
            <div class="col-md-3">
            </div>
        </div>
        {% if flights %}
        <div class="row align-items-center mx-3">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>Mã chuyến bay</th>
                    <th>Ngày giờ khởi hành</th>
                    <th>Thời gian bay</th>
                    <th>Số chỗ ngồi hạng 1</th>
                    <th>Số chỗ ngồi hạng 2</th>
                </tr>
                </thead>
                <tbody>

                {% for f in flights %}
                <tr>
                    <td>{{f.id}}</td>
                    <td>{{f.departure_time}}</td>
                    <td>{{f.flight_duration}}</td>
                    <td>{{f.num_of_1st_seat}}</td>
                    <td>{{f.num_of_2st_seat}}</td>
                </tr>

                {% endfor%}

                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info mt-3">Không có chuyến bay nào</div>
        {% endif %}
    </form>

</div>


{% endblock %}