{% extends 'layout/base.html' %}

{% block content %}

<div class="container mt-3 bg-primary rounded">
    <form action="/" method="post">
        <div class="row">
            <div class="col-md-5 mt-3">
                <label class="fs-3 text-uppercase fw-bold text-white">Nơi đi:</label>
                <select name="takeoff" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="takeoffSelect" event="click">
                    {% for airport in take_off_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option id="selected_option" value="{{ airport.id }}">{{airportName.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-5 mt-3 p">
                <label class="fs-3 text-uppercase fw-bold text-white">Nơi đến:</label>
                <select name="landing" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        id="landingSelect" event="click">
                    {% for airport in landing_airports %}
                    {% for airportName in airports %}
                    {% if airport.id == airportName.id %}
                    <option id="selected_option1" value=" {{airport.id}} ">{{airportName.name}}</option>

                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 mt-3 p-3  ">
                <button class="btn btn-primary mt-4 m-3 fs-4 text-uppercase fw-bold bg-success" type="submit">Tìm kiếm
                </button>
            </div>

        </div>

        <div class="row align-items-center ">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 fs-3 text-center text-white">
                DANH SÁCH CHUYẾN BAY
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row align-items-center mx-3">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>Mã chuyến bay</th>
                    <th>Tên chuyến bay</th>
                    <th>Ngày giờ cất cánh</th>
                    <th>Ngày giờ hạ cánh</th>
                    <th>Số chỗ ngồi hạng 1</th>
                    <th>Số chỗ ngồi hạng 2</th>
                </tr>
                </thead>

                <tbody>
                {% for route in routes %}
                {% for flight in flights %}
                {% if route.id == flight.route_id %}
                <tr>
                    <td>{{flight.id}}</td>
                    <td>{{flight.name}}</td>
                    <td>{{flight.take_of_time}}</td>
                    <td>{{flight.landing_time}}</td>
                    <td>{{flight.num_of_1st_seat}}</td>
                    <td>{{flight.num_of_2st_seat}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </tbody>

            </table>
        </div>


    </form>


</div>



{% endblock %}

<!--{% block script %}-->
<!--<script>-->
<!--    function updatedLandingAirport(){-->
<!--        var takeoffSelects = document.getElementById('takeoffSelect')-->
<!--        var landingSelects = document.getElementById('landingSelect')-->
<!--        var selectedOption = document.getElementById('selected_option')-->
<!--        for(let i = 0; i< landingSelects.length; i++){-->
<!--            if(parseInt(selectedOption.value) == parseInt(landingSelects[i].value)){-->
<!--                console.log('yes')-->
<!--                landingSelects[i].style.display = 'none'-->
<!--            }else{-->
<!--                landingSelects[i].style.display = 'block'-->
<!--            }-->


<!--        }-->
<!--    }-->
<!--    function updatedTakeOffAirport(){-->
<!--        var takeoffSelects = document.getElementById('takeoffSelect')-->
<!--        var landingSelects = document.getElementById('landingSelect')-->
<!--        var selectedOption = document.getElementById('selected_option1')-->
<!--        for(let i = 0; i< takeoffSelects.length; i++){-->
<!--            if(parseInt(selectedOption.value) == parseInt(takeoffSelects[i].value)){-->
<!--                console.log('yes')-->
<!--                takeoffSelects[i].style.display = 'none'-->
<!--            }else{-->
<!--                takeoffSelects[i].style.display = 'block'-->
<!--            }-->

<!--        }-->
<!--    }-->
<!--    document.addEventListener('DOMContentLoaded', function(){-->
<!--         var selectedOption= document.getElementById('selected_option1')-->
<!--         selectedOption.style.display = 'none'-->
<!--    })-->
<!--    document.getElementById('takeoffSelect').addEventListener('click',function(){-->
<!--        updatedLandingAirport();-->
<!--    })-->
<!--     document.getElementById('landingSelect').addEventListener('click',function(){-->
<!--        updatedTakeOffAirport();-->

<!--    })-->


<!--</script>-->
<!--{% endblock %}-->