{% extends 'layout/base.html' %}

{% block content %}
<div class="modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% set first_message = messages[0] %}
                        <h4 class="modal-title">{{ first_message[0] }}</h4>  <!-- Nội dung thông báo lỗi -->
                    {% else %}
                        <h4 class="modal-title">Thông báo</h4>  <!-- Tiêu đề mặc định -->
                    {% endif %}
                {% endwith %}
                <a class="text-decoration-none text-light btn-close" href="/"></a>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <p>{{ messages[0][1] }}</p>  <!-- Số lượng vé yêu cầu -->
                    {% else %}
                        <p>Không có thông báo.</p>
                    {% endif %}
                {% endwith %}
                <br>
                Xem vé đã đặt tại<a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover
                        " href="/my_booked_tickets?user_id={{current_user.id}}"> đây. </a>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <a class="text-decoration-none text-light" href="/login">Đóng</a>
                </button>
            </div>

        </div>
    </div>
</div>
<div class="container mt-3  d-flex flex-column  justify-content-center">
    <div class="row">
        <div class="col-md-10 col-sm-12 ">
            <img src="/static/images/trangchu.png" class="rounded" style="width:1188px;height:394px;">
        </div>
    </div>
    <div class="row mt-2">
       <div class="col-12">
             <span class="text-capitalize fs-2 pt-3">Các chuyến bay phổ biến trong ngày</span>
       </div>
    </div>
   <div class="container px-4 mt-2">
       <div class="row ">
           <div class="col-md-3 shadow-lg p-3 mb-5 bg-body rounded  col-sm-12 ">
               <div class="d-flex flex-column align-items-center pt-3 pb-3 ">
                   <a href="/bookticket"><img src="/static/images/danang.png" style="width:300px;height:200px" class="rounded"></a>
               </div>
               <div class=" ms-4">
                   <span class="fw-bold d-block">TP Hồ Chí Minh đến Đà Nẵng</span>
                   <span class="fs-6 fw-lighter d-block">13/11/2024 - 14/11/2024</span>
               </div>
               <div class="d-flex flex-column align-items-end">
                   <span class="fs-4 fw-lighter d-block ">Từ</span>
                   <span class="fw-bold fs-3 d-block  ">666.000 VND</span>
               </div>
           </div>
           <div class="col-1"></div>
            <div class="col-md-3 shadow-lg p-3 mb-5 bg-body rounded col-sm-12 ">
               <div class="d-flex flex-column align-items-center pt-3 pb-3 ">
                      <a href="/bookticket"><img src="/static/images/tphcm.png"  style="width:300px;height:200px" class="rounded"></a>
               </div>
               <div class=" ms-4">
                   <span class="fw-bold d-block"> Hà Nội đến TP Hồ Chí Minh</span>
                   <span class="fs-6 fw-lighter d-block">20/11/2024 - 21/11/2024</span>
               </div>
               <div class="d-flex flex-column align-items-end">
                   <span class="fs-4 fw-lighter d-block ">Từ</span>
                   <span class="fw-bold fs-3 d-block  ">979.000 VND</span>
               </div>
           </div>
            <div class="col-1"></div>
           <div class="col-md-3 shadow-lg p-3 mb-5 bg-body rounded col-sm-12   ">
               <div class="d-flex flex-column align-items-center pt-3 pb-3 ">
                      <a href="/bookticket"><img src="/static/images/hanoi.png"  style="width:300px;height:200px" class="rounded"></a>
               </div>
               <div class=" ms-4">
                   <span class="fw-bold d-block">Đà Nẵng đến Hà Nội</span>
                   <span class="fs-6 fw-lighter d-block">08/02/2025 - 09/02/2025</span>
               </div>
               <div class="d-flex flex-column align-items-end">
                   <span class="fs-4 fw-lighter d-block ">Từ</span>
                   <span class="fw-bold fs-3 d-block  ">1.085.000 VND</span>
               </div>
           </div>
       </div>
       <div class="row ">

           <div class="col-md-3 shadow-lg p-3 mb-5 bg-body rounded col-sm-12  ">
               <div class="d-flex flex-column align-items-center pt-3 pb-3 ">
                     <a href="/bookticket"><img src="/static/images/Da-Lat.png"  style="width:300px;height:200px" class="rounded"></a>
               </div>
               <div class=" ms-4">
                   <span class="fw-bold d-block">TP Hồ Chí Minh đến Đà Lạt</span>
                   <span class="fs-6 fw-lighter d-block">20/01/2025 - 21/01/2025</span>
               </div>
               <div class="d-flex flex-column align-items-end">
                   <span class="fs-4 fw-lighter d-block ">Từ</span>
                   <span class="fw-bold fs-3 d-block  ">1.072.000 VND</span>
               </div>
           </div>
           <div class="col-1"></div>
            <div class="col-md-3 shadow-lg p-3 mb-5 bg-body rounded col-sm-12 ">
               <div class="d-flex flex-column align-items-center pt-3 pb-3 ">
                     <a href="/bookticket"><img src="/static/images/hue.png"  style="width:300px;height:200px" class="rounded"></a>
               </div>
               <div class=" ms-4">
                   <span class="fw-bold d-block"> TP Hồ Chí Minh đến Huế</span>
                   <span class="fs-6 fw-lighter d-block">20/11/2024 - 21/11/2024</span>
               </div>
               <div class="d-flex flex-column align-items-end">
                   <span class="fs-4 fw-lighter d-block ">Từ</span>
                   <span class="fw-bold fs-3 d-block  ">666.000 VND</span>
               </div>
           </div>
            <div class="col-1"></div>
           <div class="col-md-3 shadow-lg p-3 mb-5 bg-body rounded col-sm-12  ">
               <div class="d-flex flex-column align-items-center pt-3 pb-3 ">
                      <a href="/bookticket"><img src="/static/images/vungtau.png"  style="width:300px;height:200px" class="rounded"></a>
               </div>
               <div class=" ms-4">
                   <span class="fw-bold d-block">TP Hồ Chí Minh đến Phú Quốc</span>
                   <span class="fs-6 fw-lighter d-block">08/03/2025 - 09/03/2025</span>
               </div>
               <div class="d-flex flex-column align-items-end">
                   <span class="fs-4 fw-lighter d-block ">Từ</span>
                   <span class="fw-bold fs-3 d-block  ">892.000 VND</span>
               </div>
           </div>
       </div>
   </div>


</div>
<script>
    window.onload = function() {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        {% if get_flashed_messages() %}
            myModal.show();
        {% endif %}
    };
</script>
{% endblock %}
