{% extends 'layout/base.html'  %}

{% block content %}
<div style="width: 800px; background-color: rgba(240, 248, 255, 0.9); padding: 30px; margin: 100px auto; border-radius: 10px; text-align: center; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
    <form action="/register" method="post" enctype="multipart/form-data">
        <h2 style="color: #0078FF; margin-bottom: 20px;">ĐĂNG KÝ NGƯỜI DÙNG</h2>

        <img src="/static/images/user.png" alt="User Avatar"
             style="width: 70px; margin-bottom: 20px;">

        <!-- Họ và tên -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fullname" placeholder="Họ và tên" name="name" required>
            <label for="fullname">Họ và tên</label>
        </div>

        <!-- Số điện thoại -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" name="phone">
            <label for="phone">Số điện thoại</label>
            {% if error_message and error_message.get('err_phone') %}
            <p class="text-danger error-message">{{ error_message['err_phone'] }}</p>
            {% endif %}
        </div>
        <!-- Số CCCD -->
         <div class="form-floating mb-3">
            <input type="text" class="form-control" id="card_id" placeholder="Số CCCD" name="card_id">
            <label for="card_id">Số CCCD</label>
            {% if error_message and error_message.get('err_card_id') %}
            <p class="text-danger error-message">{{ error_message['err_card_id'] }}</p>
            {% endif %}
        </div>

        <!-- Địa chỉ -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="address" placeholder="Địa chỉ" name="address">
            <label for="address">Địa chỉ</label>
        </div>

        <!-- Email -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" placeholder="Email" name="email">
            <label for="email">Email</label>
            {% if error_message and error_message.get('err_email') %}
            <p class="text-danger error-message">{{ error_message['err_email'] }}</p>
            {% endif %}
        </div>

        <!-- Avatar -->
        <div class="form-floating mb-3">
            <input type="file"  class="form-control" id="avatar" name="avatar">
            <label for="avatar">Chọn ảnh đại diện</label>
        </div>

        <!-- Tên đăng nhập -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username">
            <label for="username">Tên đăng nhập</label>
            {% if error_message and error_message.get('err_username') %}
            <p class="text-danger error-message">{{ error_message['err_username'] }}</p>
            {% endif %}
        </div>

        <!-- Mật khẩu -->
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password">
            <label for="password">Mật khẩu</label>
        </div>

        <!-- Xác nhận mật khẩu -->
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm">
            <label for="confirm">Xác nhận mật khẩu</label>
        </div>

        <!-- Nút đăng ký -->
        <button type="submit"
                style="width: 100%; background-color: #0078FF; color: #fff; border: none; border-radius: 5px; padding: 10px; font-size: 1rem; cursor: pointer; margin-top: 15px;">Đăng ký
        </button>
    </form>
</div>


{% endblock %}